* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    max-width: auto;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;    
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto+Mono:wght@300&display=swap');
}

#aboutMe,
#skills,
#projects,
#footer,
.projectSmall {
    margin-left: 8rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
}


/* Grid + Responsive */
[class ^= "box-"] {
    display: grid;
}

.container {
    height: 90vh;
    width: 100%;
    margin: 0px auto;

    display: grid;
    gap: 20px;
}

.container .box-3 {
    display: none;
}

@media (min-width: 768px) {

    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto; 
    }

    .container .box-1 {
        grid-column: span 4;
    }

    .container .box-2 {
        grid-column: span 4;
    }

    .container .box-4 {
        grid-column: span 4;
    }

    .container .box-5 {
        grid-column: span 4;
    }

    .container .box-6 {
        grid-column: span 4;
    }

    .container .box-7 {
        grid-column: span 4;
    }

    .container .box-8 {
        grid-column: span 4;
    }
}

@media (min-width: 1080px) {

    .container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto; 
    }

    .container .box-1 {
        grid-column: span 4;
    }

    .container .box-2 {
        grid-column: span 3;
    }

    .container .box-3 {
        display: block;
    }

    .container .box-4 {
        grid-column: span 4;
    }

    .container .box-5 {
        grid-column: span 4;
    }

    .container .box-6 {
        grid-column: span 4;
    }

    .container .box-7 {
        grid-column: span 4;
    }

    .container .box-8 {
        grid-column: span 4;
    }

    
}

@media (max-width: 1200px) {

    .projectCardBig {
        flex-wrap: wrap;
    }

    .projectImage {
       margin: 0; 
    }

    .projectCardText p {
        max-width: 900px;
    }
}



/* Fonts */

h1, h2, h3, h4 {
    color: #192038;
    margin: 1rem 0;
    font-weight: 600;
}

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

h2 {
    font-size: 1.8rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 2rem;
}

p {
    font-size: 1rem;
    line-height: 1.8rem;
    color: #192038;
}

.menuNum,
.menuString {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

.menuNum {
    color: #D9F561;
}

/* Buttons */

.buttonPrimary {
    background-color: #192038;
    border: 1px solid #D9F561;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    color: white;
    padding: 11px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* 1. box-1 */
#header {
    background-color: #061731;
    max-width: 100%;
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin-left: 8%;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.menuOptionDark,
.menuOptionWhite {
    display: flex;
    justify-content: flex-start;
    margin-right: 3rem;
}

#header .menuString {
    color: white;
}

.menuNum {
    padding-right: 6px;
}

.burgerMenu {
    display: none;
    margin-right: 3rem;

}

/* 2. box-2 */

#home {
    display: flex;
    justify-content: flex-start;
    background-color: #F8F9FA; 
}

#rotate {
    background-color: white;
    display: flex;
    align-items: center;
}

#rotate h5 {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    letter-spacing: 0.7rem;
    text-align: center;
    padding: 0 50px;
}

.greeting {
    border-radius: 4px;
}

.greeting h1 {
    padding-top: 14rem;
    padding-left: 6.5rem;
}

.greeting h4 {
    padding-left: 6.5rem;
    font-weight: 200;
    opacity: 0.7; 
}

/* 3. box-3 */

.photo {
    max-width: 400px;
    height: 600px;
    background-color: #D9F561; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10%; 
}

/* box-4 */

#aboutMe {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

#aboutMe p {
    max-width: 900px;
}

.menuOptionWhite {
    padding: 1rem;
    border-radius: 40px;
    background-color: #D9F561;
    max-width: 8.5rem;
}

.menuOptionWhite .menuNum {
    color: #192038;
}

/* box-5 */

#skills {
    display: flex;
    flex-direction: column;
}

.skillsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tool {
    display: flex;
    flex-direction: column;
}

.skillsBullet {
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0;
}

.menuOptionWhite {
    padding: 1rem;
    border-radius: 40px;
    background-color: #D9F561;
    max-width: 8.5rem;
}

.menuOptionWhite .menuNum {
    color: #192038;
}

/* box-6 */

.box-6 {
    background-color: #F8F9FA;
}

#projects {
    margin-top: 8rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.projectsHeading {
    display: flex;
    flex-direction: row;
}

.projectSelector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.projectFilter {
    margin: 0 1rem;
}

.pro-card-1 {
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
}

.card-1-text h4,
.card-2-text h4 {
    margin-top: 2.5rem;
}

.card-1-text p,
.card-2-text p {
    max-width: 600px;
}

.card-1-text li {
    margin: 0.5rem 0.9rem;
    font-size: 0.9rem;
    font-weight: 200;
    color:#192038;
}

.card-1-img {
    width: 50%;
    height: 380px;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
}

.card-1-img > img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 1s;
    box-shadow: 10px 5px 30px #E7EBF0;
}

.card-1-img > img:hover {
    transition: 1s;
    transform: scale(1.1);
}

.pro-card-2 {
    margin: 4rem 0;
    display: flex;
    justify-content: flex-start;
}

.card-2-text {
    margin-left: 6rem;
}


/* box-7 */

.box-7 {
    background-color: #F8F9FA;
}

.projectSmall {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 0 8rem 0;
    gap: 30px;
}

.card-1 {
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 8px;
    overflow: hidden;

    position: relative;
    place-content: center;
    transition: 0.8s;
}

.card-1:hover {
    transition: 1s;
    box-shadow: 10px 5px 30px #E7EBF0;
}

.card-1 img {
    position: absolute;
    top: 50%;
    left: 5%;
    max-width: 90%;
    box-shadow: 10px 5px 30px #ededed;
    transition: 0.8s;

}

.card-1 img:hover {
    position: absolute;
    top: 35%;
    left: 5%;
    max-width: 90%;
    box-shadow: 10px 5px 30px #ededed;
    transition: 0.5s;
}

.card-1 h4 {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.card-1 p {
    margin-left: 2rem;
    font-size: 0.9rem;
    font-weight: 200;
    color:#192038;
}


/* box-8 */

.box-8 {
    background-color: #061731;
    color: white;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

#footer h1 {
    color: white;
    margin: 2rem 0;
}

#footer p {
    color: white; 
    max-width: 620px; 
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 200;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.gitHub,
.linkedIn,
.instagram {
    margin: 0 1.5rem;
}

