* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before::after {
    box-sizing: border-box; 
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #192038;
    background-color: white;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

@font-face {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;    
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto+Mono:wght@300&display=swap');
    font-display: block;
}

a {
    text-decoration: none;
    color: white;
}

.link-bg-white {
    color: #192038;
    text-decoration: none;
    transition: 0.3s;
}


.link-bg-white:hover {
    color: #047AF5;
    text-decoration: none;
    transition: 0.3s;
}

/* Fonts */

h1, h2, h3, h4 {
    color: #192038;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
}

h4 {
    font-size: 1.1rem;
    line-height: 2rem;
}

h5 {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    color: #192038;
}

p {
    line-height: 1.8rem;
    color: #192038;
    font-weight: 200;
}


/* Button */

.button-pr {
    background-color: #061731;
    border: 1px solid #D9F561;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    padding: 11px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all .5s ease;
    cursor: pointer;
}

.button-pr:hover {
    background-color: #D9F561;
    color: #061731;
    transition: all .2s ease;
    cursor: pointer;
}

.button-pr:active {
    background-color: #CCE03D;
}


/* Responsive */

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .intro-2 .intro-text {
        margin: 0 3rem;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .intro-left .intro-1 {
        display: none;
    }

    .intro-left .intro-1 {
        padding-right: 2rem;
    }

    .cards-list {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    .card-1 {
        column-span: all;
    }

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

    .burg-menu {
        display: block;
    }

    .nav-container .nav-list {
        display: none;
    }

    #intro .intro-3 {
        display: none;
    }

    .intro-left {
        height: 650px;
    }

    .pro-card-1 {
        flex-wrap: wrap;
    }

    .pro-card-2 {
        flex-wrap: wrap-reverse;
        row-gap: 2rem;
    }

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

    .nav-container,
    .intro-container,
    .about-container,
    .projects-container,
    .prj-all-container {
        padding: 0 2.5rem;
    }
}




/* 1. header */

#logo {
    transition: 0.4s;
}

#logo:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.navbar {
    background-color: #061731;
}

.navbar .nav-container {
    max-width: 1366px;
    height: 80px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    list-style: none;
}

.nav-link {
    padding: 0.7rem 1rem;
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    margin-right: 0.7rem;
}

.nav-link:hover {
    background-color: #24334A;
    transition: 0.3s;
}

.nav-link:active {
    background-color: #38455A;
}

.nav-link .nav-num {
    color: #D9F561;
    padding-right: 0.5rem;
}

.burg-menu {
    display: none;
    margin-right: 2rem;
}


/* Intro */

#intro .intro-container {
    max-width: 1366px;
    height: auto;
    margin: 1rem auto;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 1rem;
}

.intro-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
    width: 100%;
}

.intro-1 {
    display: flex; 
    padding-right: 3rem; 
}

.intro-1 h5 {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    letter-spacing: 0.7rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
}

.intro-2 {
    border-radius: 4px;
    background-color: #F8F9FA; 
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 6rem;
    row-gap: 0.5rem;
}

.intro-2 h4 {
    font-weight: 200;
    opacity: 0.7; 
}

.intro-3 {
    width: 35%;
    height: 650px;
    background-color: #D9F561; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    position: relative;
}

.intro-3 .intro-photo {
    background-image: url(images/smile-1.svg);
    width: 238px;
    height: 238px;
    position: relative;
}

.intro-3 .intro-photo:hover {
    background-image: url(images/smile-2.svg);
}


/* About */

#about .about-container {
    max-width: 1366px;
    height: auto;
    margin: 0 auto;


    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.about-container .about-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 10rem;
}

.pre-heading .underline {
    width: 60px;
    height: 5px;
    background-color: #D9F561;
}

.about-text h2 {
    margin-top: 1rem;

}

.about-text p {
    max-width: 900px;
}

/* Skills */

.about-container .skills {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 4rem 0 4rem 0;
}

.skills .skills-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 3rem;
}

.skills-box .tool {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 300px;
}

.skills-box .bullet {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}


/* Projects */ 

#projects,
.projects-all {
    background-color: #F8F9FA;
    padding-bottom: 2rem;
}

#projects .projects-container {
    max-width: auto;
    height: auto;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

#projects .projects-heading {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.pro-card-1,
.pro-card-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 4rem;
}

.pro-card-1 {
    margin-bottom: 4rem;
}

.card-1-text h5 {
    margin-bottom: 1rem;
}

.card-1-text p {
    margin-bottom: 3rem;
}

.card-1-text li {
    margin: 0.5rem 0.9rem;
    font-size: 0.9rem;
    font-weight: 200;
    color:#192038;
}

.card-1-img {
    width: 80%;
    transition: 0.6s;
    margin-top: 3rem;
    transition: 0.6s;
}

.card-1-img .img-1 {
    box-shadow: 10px 5px 30px #E7EBF0;
}

.card-1-img .img-1,
.card-2-img .img-2 {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.6s;
}

.card-2-img {
    width: 80%;
    transition: 0.6s;
}

.card-1-img .img-1:hover,
.card-2-img .img-2:hover {
    transition: 0.6s;
    transform: scale(1.06);
}


/* Projects-all */ 

.projects-all .prj-all-container {
    max-width: 1366px;
    height: auto;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    column-gap: 3rem;
    row-gap: 3rem;
}

.prj-all-container  .projects-heading {
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    padding-top: 8rem;
}

.prj-all-container .pre-heading {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.prj-all-container .filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    column-gap: 2rem;
}

.prj-all-container .filter-opt {
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #E9ECEF;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem 0 8rem 0;
    gap: 3rem;
}

.cards-list .card-1 {
    grid-column-start: 1;
}

.cards-list .card-2 {
    grid-column-start: 3;
}

.cards-list .card-heading {
    padding: 1.5rem;
}

.card-1,
.card-2 {
    grid-column-end: span 2;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    height: 380px;
    transition: 0.6s;
}

.card-img-cont  {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.card-img-cont img {
    box-shadow: 10px 5px 30px #ededed;
    transform: translateY(60px);
    transition: 0.6s;
    border-radius: 4px;
}

.card-img-cont img:hover {
    transform: translateX(-60px);
    transition: 0.6s;
}



/* box-5 


.opt-1 {
    width: 54px;
    background-color: #D9F561;
    transition: all .2s ease;
}

.opt-2 {
    background-color: #E9ECEF;
    width: 124px;
    transition: all .2s ease;
}

.opt-3 {
    background-color: #E9ECEF;
    width: 78px;
    transition: all .2s ease;
}

/* #header {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    height: 90vh;
    max-width: 1366px;
    margin: 0px auto;

    display: grid;
    gap: 20px;
    padding-top: 100px;
}


/* Hover 


.opt-1:hover {
    box-shadow: 10px 10px 20px #E7EBF0;
    transition: all .2s ease;
    cursor: pointer;

}

.opt-2:hover,
.opt-3:hover {
    background-color: #D9F561;
    transition: all .2s ease;
    box-shadow: 10px 10px 20px #E7EBF0;
    cursor: pointer;

}

.opt-1:focus,
.opt-2:focus,
.opt-3:focus {
    background-color: #CCE03D;
}
 */ 


/* box-6-pr-small 

.box-6-pr-small {
    background-color: #F8F9FA;
}


.card-1 {
    background-color: white;
    width: 48%;
    border-radius: 8px;
    overflow: hidden;

    position: relative;
    place-content: center;
    transition: 0.6s;
}

.card-1:hover {
    transition: 1s;
    box-shadow: 10px 5px 30px #E7EBF0;
}

.card-1 img {
    position: absolute;
    top: 45%;
    left: 40%;
    max-width: 90%;
    box-shadow: 10px 5px 30px #ededed;
    transition: 0.6s;
}

.card-1 img:hover {
    position: absolute;
    top: 35%;
    left: 25%;
    max-width: 90%;
    box-shadow: 10px 5px 30px #ededed;
    transition: 0.s;
}

.card-1 h4 {
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.card-1 p {
    margin-left: 2rem;
    font-size: 0.9rem;
    font-weight: 200;
    color:#192038;
} */


/* box-7-footer 

.box-7-footer {
    background-color: #061731;
    color: white;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

#footer h1 {
    color: white;
    margin: 2rem 0;
}

#footer p {
    color: white; 
    max-width: 620px; 
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 200;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.icon {
    margin: 0 1.5rem;
    transform: 0.5s;

} */


